p{
    color: blue;
    background-color: aqua;
    font-size: 20px;
    font-size: 2px solid red;
}
h1{
    color: gold;
    background-color: blueviolet;
    font-size: 25px;
    font-size: 7px solid pink;
}
button{
    color: chartreuse;
    background-color: coral;
    font-size: 30px;
    font-size: 9px solid purple;
}