@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Playwrite+CU+Guides&display=swap');

p{
     font-family: "Playwrite CU Guides", cursive;
}
p{
     font-family: "Playwrite CU Guides", fantasy;
}