 ul {
    border: 2px solid black;
    width: 600px;
    padding: 20px;

    display: flex;
    justify-content: center; 
    gap: 50px;
    list-style: none;
  }

  li {
    font-size: 18px;
    cursor: crosshair;
  }