.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
  }

  .item {
    width: 100px;
    height: 100px;
    background-color: teal;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
  }