.text1{
    padding: 40px;
}
.text2{
    padding-top: 30px;
    padding-bottom:30px ;
    padding-left:20px ;
    padding-right:20px ;
}
.text3{
    padding-top: 10px;
    padding-bottom:50px ;
    padding-left:100px ;
    padding-right:20px ;
}
.text4{
    padding-bottom: 50px;
}
