.იდკ {
    list-style-type: decimal-leading-zero;
}

.იდკ2 {
    list-style-type: decimal;
}

.georgian {
    list-style-type: georgian;
}

.roman-upper {
    list-style-type: upper-roman;
}

.roman-lower {
    list-style-type: lower-roman;
}

.alpha-upper {
    list-style-type: upper-alpha;
}

.alpha-lower {
    list-style-type: lower-alpha;
}

.greek {
    list-style-type: lower-greek;
}

.armenian {
    list-style-type: armenian;
}