
div {
    color: red;
    font-size: 30px;
    background-color: green;
}

div li {
    border: 2px dashed purple;
}

nav{
    color: blue;
    font-size: 20px;
    background-color: yellow;
}

nav li {
    border: 4px solid black;
}
