.container {
  width: 500px;
  height: 200px;
  border: 2px solid black;
  
  display: flex;
  justify-content: flex-end; 
}

.box {
  width: 80px;
  height: 80px;
  background-color: red;
  margin: 5px;
}
