#level2{
    color: green;
    font-size: 35px;
    font-weight: 200px;
}
#level2:hover{
    color: red;
    font-size: 50px;
    font-weight: 800px;
}
#level1{
    color: purple;
    font-size: 15px;
    font-weight: 300px;
}
#level1.active{
    color: yellow;
    font-size: 44px;
    font-weight: 900;
    text-shadow: 5px 5px 5px blue;
}
