
#main-title {
    color: darkblue;
    text-align: center;
}

.text {
    font-size: 16px;
    line-height: 1.5;
}

.highlight {
    color: black;
    background-color: red

}

ul {
    margin-top: 15px;
    padding-left: 20px;
    color: darkgreen;
}

ul li {
    margin-bottom: 5px;
}
