h1{
    color: coral;
    background-color: cyan;
    border: 6px solid black;
}
h3{
    color: coral;
    background-color: cyan;
    border: 6px solid black;
}
button{
    color: azure;
    background-color: darkcyan;
    height: 77px;
    width: 77px;
    
}
    
