#firsth1{
    color: aqua;
    background-color: red;
    border: 5px solid green;
    font-size: 39px;
}
#firsth2{
    color: blue;
    font-size: 50px;
}
#firsth3{
    color: chocolate;
    font-size: 40px;
}
#firsth4{
    color: darkblue;
    font-size: 35px;
}
#firsth5{
    color: cornflowerblue;
    font-size: 44px;
}