@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Oswald:wght@200..700&family=Playwrite+NZ+Basic+Guides&display=swap');

p{
    font-family: "Bitcount Grid Double", system-ui;;
}