@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');
a:link{
    background-color: brown;
    color: purple;
    font-family: "Bitcount Grid Double", system-ui;
}