@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');
p{
    background-color: red;
    text-transform: uppercase;
    font-family: "Bitcount Grid Double", system-ui;

}