.container {
    display: flex;
    border: 2px solid black;
    height: 100px;
}

.box {
    width: 100px;
    background: teal;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second {
    flex-grow: 1;
}