.div1 {
width: 100px;
height: 100px;
background-color: red;

animation: moveBox 5s 3s 4;
}

@keyframes moveBox {
    33% {
    background-color: yellow;
    transform: translateY(50px);
}

66% {
    background-color: blue;
    border-radius: 20px;
    transform: translate(50px, 50px) rotate(40deg);
}

100% {
    background-color: coral;
    border-radius: 50%;
    border: 3px solid red;
}
}