button{
    padding: 15px 35px;
    font-size: 20px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;

    transition:
    color 0.2s,
    border-radius 0.5s,
    background-color 0.7s;

    transition-delay:
    0s,
    0s,
    0.3s;
}

button:hover{
    color: yellow;
    border-radius: 30px;
    background-color: red;
}