#firsth1{
    color: coral;
    font-size: 35px;
    border: 2px solid green;
}
#firsth2{
    color: brown;
    font-size: 22px;
    border: 2px solid blue;
}
#firsth3{
    color: cornflowerblue;
    font-size: 24px;
    border: 2px solid gray;
}
#firsth4{
    color: crimson;
    font-size: 26px;
    border: 2px solid blueviolet;
}
#firsth5{
    color: chocolate;
    font-size: 30px;
    border: 2px solid blanchedalmond;
}